/*NAVBAR*/
.flex-box{
    display: flex;
    justify-content: center;
}


.first li{
 list-style-type: none;
 border-right: solid 1px black;
 padding: 20px 20px;

}
/*quitarle al último elemento el borde*/
li:last-child{
    border: none;
}

.first a{
 text-decoration: none;
  padding: 20px 40px;
  font-weight: 700;


}
.first a:hover{
    background: palevioletred;
    color: yellow;
    cursor: pointer;
}
ul{
   width: 100%;
   display: flex;
   justify-content: space-around;
    background: pink;

}




/*RESPONSIVE*/
.responsive{
  background-color: gray;
    width: 100%;
  height: auto;

}
.responsive ul li{
  width: 100%;
  padding: 5px 0;
  border-bottom: solid black;
}
.responsive ul{
  list-style: none;
  margin-left: -40px;
  flex-direction: column;
  align-items: center;
    justify-content: flex-start;

}

.responsive ul li a{
	cursor: pointer;
    padding: 3px 50px;
    text-decoration: none;
}
.responsive a:hover{
  color: yellow;
  background-color: pink;
}
#menu{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}


.hide{
  display: none;
}